.col-md-6.col-md-offset-3
  .panel.panel-primary
    .panel-heading
      %h3.panel-title Sign In

    .panel-body
      = form_for :session, url: sign_in_path do |f|
        .form-group
          = f.label "Email address"
          = f.email_field :email_address, class: "form-control", placeholder: "Enter email"

        .form-group
          = f.label "Password"
          = f.password_field :password, class: "form-control", placeholder: "Password"

        = f.submit "Sign in", class: "btn btn-default"
