.col-md-12
  - if logged_in? && current_user.can_add?(@recipe)
    = link_to "+ Add to favorites", favorites_path(recipe_id: @recipe.id),
    method: "post", class: "btn btn-primary favorites"

%h2.recipe-title #{@recipe.title}
%h4.recipe-author by #{@recipe.creator.full_name}

.col-md-4
  .panel.panel-primary
    .panel-heading
      %h3.panel-title Ingredients

    .panel-body
      %ul
      - @recipe.ingredients_list.each do |ingredient|
        %li #{ingredient}

  .panel.panel-primary
    .panel-heading
      %h3.panel-title Photo

    .panel-body
      = cl_image_tag(show_image(@recipe), :alt => "Recipe Picture", :crop => :scale,
                    class: "img-responsive")

.col-md-8
  .panel.panel-primary
    .panel-heading
      %h3.panel-title Directions

    .panel-body
      %p
        = simple_format(@recipe.directions)
