.col-md-8.col-md-offset-2
  .panel.panel-primary
    .panel-heading
      %h3.panel-title Recipes that I've created

    .panel-body
      %table.table
        - current_user.recipes.each do |recipe|
          %tr
            %td
              = link_to recipe.title, recipe
            %td
              = link_to "Edit", edit_recipe_path(recipe)
            %td
              = link_to "Delete", recipe, method: "delete", data: { confirm: "Are you sure?" }

.col-md-8.col-md-offset-2
  .panel.panel-primary
    .panel-heading
      %h3.panel-title Favorite recipes

    .panel-body
      %table.table
        - current_user.favorites.each do |favorite|
          %tr
            %td
              = link_to favorite.recipe_title, favorite.recipe
            %td
              = link_to "Remove from list", favorite_path(favorite), method: "delete", data: { confirm: "Are you sure?" }
