.navbar.navbar-default.main-nav
  .navbar-header
    = link_to root_path do
      .navbar-brand its-a-cookbook <i class="fa fa-cutlery"></i>
  %ul.nav.navbar-nav.navbar-right
    - if logged_in?
      %li
        = link_to "+ Create New Recipe", new_recipe_path
      %li
        = link_to "My Recipes", current_user
      %li
        = link_to "Sign Out", sign_out_path, method: "delete"
    - else
      %li
        = link_to "Log In", sign_in_path
